---
import { Image } from 'astro:assets';
import Layout from "../layouts/Layout.astro";
import RetroPc from '../images/image-retro-pcs.jpg'
import TopLaptop from '../images/image-top-laptops.jpg'
import GamePad from '../images/image-gaming-growth.jpg'
---
<Layout title="W categories Page">
    <main class="bg-lime-100 min-h-screen">
        <section class="w-full max-w-7xl mx-auto px-10">
        <div class="max-w-6xl mx-auto space-y-28">
            <p class="text-3xl text-orange-300 font-bold pt-2">Categories</p>
            <div class="flex-cols space-y-4 md:flex md:space-y-0">
                <div>
                    <div class="flex space-x-2">
                        <div>
                            <Image
                                src={RetroPc}
                                alt="retro pc"
                                format='webp'
                                class='object-cover h-44 w-44'
                            />
                        </div>
                        <div class="space-y-1">
                            <span class="text-3xl font-bold text-gray-400">01</span>
                            <h2 class="text-md font-bold">Reviving Retro PCs</h2>
                            <p class="text-gray-400">What happens when old PCs are given modern upgrades?</p>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="flex space-x-2">
                        <div>
                            <Image
                                src={TopLaptop}
                                alt="top laptops"
                                format='webp'
                                class='object-cover h-44 w-44'
                            />
                        </div>
                        <div class="space-y-1">
                            <p class="text-3xl font-bold text-gray-400">02</p>
                            <h2 class="text-md font-bold">Top 10 Laptops of 2022</h2>
                            <p class="text-gray-400">Our best picks for various needs and budgets.</p>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="flex space-x-2">
                        <div>
                            <Image
                                src={GamePad}
                                alt="retro pc"
                                format='webp'
                                class='object-cover h-44 w-44'
                            />
                        </div>
                        <div class="space-y-1">
                            <span class="text-3xl font-bold text-gray-400">03</span>
                            <h2 class="text-md font-bold">The Growth of Gaming</h2>
                            <p class="text-gray-400">How the pandemic has sparked fresh opportunities.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex flex-col-reverse space-y-4 md:flex md:flex-row-reverse md:space-y-0 ">
                <div>
                    <div class="flex space-x-2">
                        <div>
                            <Image
                                src={RetroPc}
                                alt="retro pc"
                                format='webp'
                                class='object-cover h-44 w-44'
                            />
                        </div>
                        <div class="space-y-1">
                            <span class="text-3xl font-bold text-gray-400">04</span>
                            <h2 class="text-md font-bold">Reviving Retro PCs</h2>
                            <p class="text-gray-400">What happens when old PCs are given modern upgrades?</p>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="flex space-x-2">
                        <div>
                            <Image
                                src={TopLaptop}
                                alt="top laptops"
                                format='webp'
                                class='object-cover h-44 w-44'
                            />
                        </div>
                        <div class="space-y-1">
                            <p class="text-3xl font-bold text-gray-400">05</p>
                            <h2 class="text-md font-bold">Top 10 Laptops of 2022</h2>
                            <p class="text-gray-400">Our best picks for various needs and budgets.</p>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="flex space-x-2">
                        <div>
                            <Image
                                src={GamePad}
                                alt="retro pc"
                                format='webp'
                                class='object-cover h-44 w-44'
                            />
                        </div>
                        <div class="space-y-1">
                            <span class="text-3xl font-bold text-gray-400">06</span>
                            <h2 class="text-md font-bold">The Growth of Gaming</h2>
                            <p class="text-gray-400">How the pandemic has sparked fresh opportunities.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex-cols space-y-4 md:flex md:space-y-0 ">
                <div>
                    <div class="flex space-x-2">
                        <div>
                            <Image
                                src={RetroPc}
                                alt="retro pc"
                                format='webp'
                                class='object-cover h-44 w-44'
                            />
                        </div>
                        <div class="space-y-1">
                            <span class="text-3xl font-bold text-gray-400">07</span>
                            <h2 class="text-md font-bold">Reviving Retro PCs</h2>
                            <p class="text-gray-400">What happens when old PCs are given modern upgrades?</p>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="flex space-x-2">
                        <div>
                            <Image
                                src={TopLaptop}
                                alt="top laptops"
                                format='webp'
                                class='object-cover h-44 w-44'
                            />
                        </div>
                        <div class="space-y-1">
                            <p class="text-3xl font-bold text-gray-400">08</p>
                            <h2 class="text-md font-bold">Top 10 Laptops of 2022</h2>
                            <p class="text-gray-400">Our best picks for various needs and budgets.</p>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="flex space-x-2">
                        <div>
                            <Image
                                src={GamePad}
                                alt="retro pc"
                                format='webp'
                                class='object-cover h-44 w-44'
                            />
                        </div>
                        <div class="space-y-1">
                            <span class="text-3xl font-bold text-gray-400">09</span>
                            <h2 class="text-md font-bold">The Growth of Gaming</h2>
                            <p class="text-gray-400">How the pandemic has sparked fresh opportunities.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex flex-col-reverse space-y-4 md:flex md:flex-row-reverse md:space-y-0 ">
                <div>
                    <div class="flex space-x-2">
                        <div>
                            <Image
                                src={RetroPc}
                                alt="retro pc"
                                format='webp'
                                class='object-cover h-44 w-44'
                            />
                        </div>
                        <div class="space-y-1">
                            <span class="text-3xl font-bold text-gray-400">10</span>
                            <h2 class="text-md font-bold">Reviving Retro PCs</h2>
                            <p class="text-gray-400">What happens when old PCs are given modern upgrades?</p>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="flex space-x-2">
                        <div>
                            <Image
                                src={TopLaptop}
                                alt="top laptops"
                                format='webp'
                                class='object-cover h-44 w-44'
                            />
                        </div>
                        <div class="space-y-1">
                            <p class="text-3xl font-bold text-gray-400">11</p>
                            <h2 class="text-md font-bold">Top 10 Laptops of 2022</h2>
                            <p class="text-gray-400">Our best picks for various needs and budgets.</p>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="flex space-x-2">
                        <div>
                            <Image
                                src={GamePad}
                                alt="retro pc"
                                format='webp'
                                class='object-cover h-44 w-44'
                            />
                        </div>
                        <div class="space-y-1">
                            <span class="text-3xl font-bold text-gray-400">12</span>
                            <h2 class="text-md font-bold">The Growth of Gaming</h2>
                            <p class="text-gray-400">How the pandemic has sparked fresh opportunities.</p>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </section>
    </main>

</Layout>